/* XS Small */

@media (max-width:575.98px){

    /* nav */

   .home_text h1{
    font-size: 20px;
    color: skyblue;
    animation: name 10s linear infinite;
}
@keyframes name{
    50%{
        transform: rotateY(360deg);
    }
    100%{
        transform: scaleX(1.1);
    }
}
    .header h2{
        font-size: 15px;
        width: 100px;
        box-shadow: 0px 0px 5px skyblue;
        margin-left: 10px;
    }
    .home_nav{
   left: 100px;
   top: 100px;
   
   animation:beat 0.25s infinite alternate;
}
.about_nav{  
    left: 400px;
   top: 100px;
   
   animation:beat 0.25s infinite alternate;
 
   animation:beat 0.25s infinite alternate;
}
.portfolio_nav{
    left: 80px;
   top: 250px;
   
   animation:beat 0.25s infinite alternate;
}
.contact_nav{
  
    left: 410px;
   top: 250px;
   animation:beat 0.25s infinite alternate;
}
@keyframes beat{
    to{transform: scale(1.1);}
}
li{
    padding: 5px 5px;
    font-size: 10px;
    width: 80px;
    box-shadow: 0px 0px 5px skyblue;
    margin-top: 20px;
}

/* home */


.home{
    top: 80px;
}
.home_text h1{
    font-size: 80px;
}
.home_text h3{
    font-size: 20px;
}
.home_icon{
    font-size: 30px;
    line-height: 4;
}
.home_icon .one{
    height: 40px;
    width: 40px;
    border-radius: 5px;
    line-height: 1.3;
}
.home_icon .two{
    height: 40px;
    width: 40px;
    border-radius: 5px;
    line-height: 1.3;
}

/* about */


.about{
    margin: auto;
   margin-top: 100px;
}
.about_contain h2{
    font-size: 45px;
}
.about_card_item{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
}
.card1 p{
    font-size: 1rem;
    height: 230px;
    width: 250px;
}
.card2 p{
    font-size: 1rem;
    height: 280px;
    width: 250px;
}
.about_button button{
  padding: 7px 15px;
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;
}
.about_button1{
    background-color: blueviolet;
}
.about_button .space{
  padding-right: 5px;
}
.about_card .about_card1{
    height: 150px;
    width: 250px;
}
.about_angle .right{
    margin-left: 150px;
    color: white;
}

/* portfolio */

.port_text{
    text-align: center;
    margin-top: 100px;
}
.port_text p{
    font-size: 12px;
    color: white;
}
.buttons label {
  margin: 1px;
}
.container_2{
    display: flex;
    flex-direction: column;
    /* margin-left: 0px; */
    justify-content: center;
    align-items: center;
}
.box {
 height: 200px;
 width: 200px;
/* margin-right: 650px; */

}
.box h2{
  font-size: 20px;
  
}
.box p{
    font-size: 13px;
    
}
.box6{
 width: 500px;
 height: 200px;
 border: 2px solid yellow;
 color: aqua;
 font-size: 30px;
 margin-left: 50px;
}

/* contact us */

.contact_text{
    text-align: center;
    margin-top: 280px;
}
.contact_text h2{
    font-size: 40px;
}
.contact_text p{
    font-size: 15px;
}
.contact_container{
    height: 450px;
    width: 400px;
    background: linear-gradient(grey,white,grey,white);
    border-radius: 10px;
    margin: 20px auto;
}
.one{
    width: 300px;
}
.two{
    width: 300px;
}
.three{
    width: 300px;
}
form button{
    width: 300px;
}
.contact_container p{
    font-size: 10px;
    color: white;
}
}

/* SM-small */

@media (min-width:576px) and (max-width:767.98px){

     /* nav */


.home_text h1{
    font-size: 20px;
    color: skyblue;
    animation: name 10s linear infinite;
}
@keyframes name{
    50%{
        transform: rotateY(360deg);
    }
    100%{
        transform: scaleX(1.1);
    }
}

    .header h2{
        font-size: 15px;
        width: 100px;
        box-shadow: 0px 0px 5px skyblue;
        margin-left: 10px;
    }
    /* .home_nav{
   left: 400px;
   top: 0;
   animation:beat 0.25s infinite alternate;
}
.about_nav{  
    left: 490px;
   top: 0;
   animation:beat 0.25s infinite alternate;
}
.portfolio_nav{
    left: 580px;
   top: 0;
   animation:beat 0.25s infinite alternate;
}
.contact_nav{
  left: 670px;
   top: 0;
   animation:beat 0.25s infinite alternate;
}
@keyframes beat{
    to{transform: scale(1);}
} */

 .home_nav{
   left: 200px;
   top: 120px;
   
   animation:beat 0.25s infinite alternate;
}
.about_nav{  
    left: 480px;
   top: 120px;
   
   animation:beat 0.25s infinite alternate;
 
   animation:beat 0.25s infinite alternate;
}
.portfolio_nav{
    left: 80px;
   top: 250px;
   
   animation:beat 0.25s infinite alternate;
}
.contact_nav{
  
    left: 600px;
   top: 250px;
   animation:beat 0.25s infinite alternate;
}
@keyframes beat{
    to{transform: scale(1.1);}
}
li{
    padding: 5px 5px;
    font-size: 10px;
    width: 80px;
    box-shadow: 0px 0px 5px skyblue;
    margin-top: 20px;
}

/* home */


.home{
    top: 80px;
}
.home_text h1{
    font-size: 80px;
}
.home_text h3{
    font-size: 40px;
}
.home_icon{
    font-size: 30px;
    line-height: 4;
}
.home_icon .one{
    height: 40px;
    width: 40px;
    border-radius: 5px;
    line-height: 1.3;
}
.home_icon .two{
    height: 40px;
    width: 40px;
    border-radius: 5px;
    line-height: 1.3;
}

/* about */


.about{
    margin: auto;
   margin-top: 100px;
}
.about_contain h2{
    font-size: 45px;
}
.about_card_item{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
}
.card1 p{
    font-size: 1.3rem;
    height: 270px;
    width: 350px;
}
.card2 p{
    font-size: 1.3rem;
    height: 330px;
    width: 350px;
}
.about_button button{
  padding: 7px 15px;
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;
}
.about_button1{
    background-color: blueviolet;
}
.about_button .space{
  padding-right: 5px;
}
.about_card .about_card1{
    height: 150px;
    width: 250px;
}
.about_angle .right{
    margin-left: 150px;
    color: white;
}


/* portfolio */


.port_text{
    text-align: center;
    margin-top: 100px;
}
.port_text p{
    font-size: 12px;
    color: white;
}
.buttons label {
  margin: 5px;
}
.container_2{
    display: flex;
    flex-direction: column;
    /* margin-left: 0px; */
    justify-content: center;
    align-items: center;
}
.box {
 height: 200px;
 width: 200px;
/* margin-right: 650px; */

}
.box h2{
  font-size: 20px;
  
}
.box p{
    font-size: 13px;
    
}
.box6{
 width: 500px;
 height: 200px;
 border: 2px solid yellow;
 color: aqua;
 font-size: 30px;
 margin-left: 50px;
}


/* contact us */

.contact_text{
    text-align: center;
    margin-top: 300px;
}
.contact_text h2{
    font-size: 40px;
}
.contact_text p{
    font-size: 15px;
}
.contact_container{
    height: 450px;
    width: 500px;
    background: linear-gradient(grey,white,grey,white);
    border-radius: 10px;
    margin: 20px auto;
}
.one{
    width: 400px;
}
.two{
    width: 400px;
}
.three{
    width: 400px;
}
form button{
    width: 400px;
}
.contact_container p{
    font-size: 13px;
    color: white;
}
}

/* medium */

@media (min-width:768px) and (max-width:991.98px){

     /* nav */

.home_text h1{
    font-size: 20px;
    color: skyblue;
    animation: name 10s linear infinite;
}
@keyframes name{
    50%{
        transform: rotateY(360deg);
    }
    100%{
        transform: scaleX(1.1);
    }
}

    .header h2{
        font-size: 20px;
        width: 120px;
        box-shadow: 0px 0px 5px skyblue;
        margin-left: 10px;
    }
    /* .home_nav{
   left: 545px;
   top: 0;
   animation:beat 0.25s infinite alternate;
}
.about_nav{  
    left: 655px;
   top: 0;
   animation:beat 0.25s infinite alternate;
}
.portfolio_nav{
    left: 765px;
   top: 0;
   animation:beat 0.25s infinite alternate;
}
.contact_nav{
  left: 875px;
   top: 0;
   animation:beat 0.25s infinite alternate;
}
@keyframes beat{
    to{transform: scale(1);}
} */

.home_nav{
   left: 290px;
   top: 120px;
   
   animation:beat 0.25s infinite alternate;
}
.about_nav{  
    left: 600px;
   top: 120px;
   
   animation:beat 0.25s infinite alternate;
 
   animation:beat 0.25s infinite alternate;
}
.portfolio_nav{
    left: 190px;
   top: 250px;
   
   animation:beat 0.25s infinite alternate;
}
.contact_nav{
  
    left: 700px;
   top: 250px;
   animation:beat 0.25s infinite alternate;
}
@keyframes beat{
    to{transform: scale(1.1);}
}
li{
    padding: 5px 5px;
    font-size: 15px;
    width: 100px;
    box-shadow: 0px 0px 5px skyblue;
    margin-top: 20px;
}

/* home */


.home{
    top: 80px;
}
.home_text h1{
    font-size: 80px;
}
.home_text h3{
    font-size: 40px;
}
.home_icon{
    font-size: 30px;
    line-height: 4;
}
.home_icon .one{
    height: 60px;
    width: 60px;
    border-radius: 5px;
    line-height: 1.8;
}
.home_icon .two{
    height: 60px;
    width: 60px;
    border-radius: 5px;
    line-height: 1.8;
}

/* about */


.about{
    margin: auto;
   margin-top: 120px;
}
.about_contain h2{
    font-size: 60px;
}
.about_card_item{
   display: flex;
   gap: 20px;
}
.card1 p{
    font-size: 1.5rem;
    height: 330px;
    width: 350px;
}
.card2 p{
    font-size: 1.3rem;
    height: 330px;
    width: 350px;
}
.about_button button{
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;
}
.about_button1{
    background-color: blueviolet;
}
.about_button .space{
  padding-right: 5px;
}
.about_card .about_card1{
    height: 150px;
    width: 350px;
}
.about_angle .right{
    margin-left: 290px;
    color: white;
}


/* portfolio */

.port_text{
    text-align: center;
    margin-top: 100px;
}
.port_text p{
    font-size: 12px;
    color: white;
}
.buttons label {
  margin: 5px;
}
.container_2{
    display: flex;
    /* margin-left: 0px; */
    justify-content: center;
    align-items: center;
}
.box {
 height: 200px;
 width: 200px;
/* margin-right: 650px; */

}
.box h2{
  font-size: 20px;
  
}
.box p{
    font-size: 13px;
    
}
.box6{
 width: 500px;
 height: 200px;
 border: 2px solid yellow;
 color: aqua;
 font-size: 30px;
 margin-left: 50px;
}


/* contact us */

.contact_text{
    text-align: center;
    margin-top: -250px;
}
.contact_text h2{
    font-size: 40px;
}
.contact_text p{
    font-size: 15px;
}
.contact_container{
    height: 450px;
    width: 700px;
    background: linear-gradient(grey,white,grey,white);
    border-radius: 10px;
    margin: 20px auto;
}
.one{
    width: 600px;
}
.two{
    width: 600px;
}
.three{
    width: 600px;
}
form button{
    width: 600px;
}
.contact_container p{
    font-size: 13px;
    color: white;
}
}

/* large */

@media (min-width:992px) and (max-width:1199.98px){

     /* nav */

.home_text h1{
    font-size: 40px;
    color: skyblue;
    animation: name 10s linear infinite;
}
@keyframes name{
    50%{
        transform: rotateY(360deg);
    }
    100%{
        transform: scaleX(1.1);
    }
}
    .header h2{
        font-size: 30px;
        width: 200px;
        box-shadow: 0px 0px 5px skyblue;
        margin-left: 10px;
    }
    /* .home_nav{
   left: 615px;
   top: 0;
   animation:beat 0.25s infinite alternate;
}
.about_nav{  
    left: 760px;
   top: 0;
   animation:beat 0.25s infinite alternate;
}
.portfolio_nav{
    left: 905px;
   top: 0;
   animation:beat 0.25s infinite alternate;
}
.contact_nav{
  left: 1050px;
   top: 0;
   animation:beat 0.25s infinite alternate;
}
@keyframes beat{
    to{transform: scale(1.1);}
} */
 .home_nav{
   left: 290px;
   top: 120px;
   
   animation:beat 0.25s infinite alternate;
}
.about_nav{  
    left: 770px;
   top: 120px;
   
   animation:beat 0.25s infinite alternate;
 
   animation:beat 0.25s infinite alternate;
}
.portfolio_nav{
    left: 220px;
   top: 300px;
   
   animation:beat 0.25s infinite alternate;
}
.contact_nav{
  
    left: 850px;
   top: 300px;
   animation:beat 0.25s infinite alternate;
}
@keyframes beat{
    to{transform: scale(1.1);}
}
li{
    padding: 5px 5px;
    font-size: 15px;
    width: 130px;
    box-shadow: 0px 0px 15px skyblue;
    margin-top: 20px;
}

/* home */


.home{
    top: 80px;
}
.home_text h1{
    font-size: 80px;
}
.home_text h3{
    font-size: 40px;
}
.home_icon{
    font-size: 50px;
    line-height: 2;
}
.home_icon .one{
    height: 80px;
    width: 80px;
    border-radius: 5px;
    line-height: 0.7;
}
.home_icon .two{
    height: 80px;
    width: 80px;
    border-radius: 5px;
    line-height: 0.7;
}

/* about */


.about{
    margin: auto;
   margin-top: 120px;
}
.about_contain h2{
    font-size: 60px;
}
.about_card_item{
   display: flex;
   gap: 20px;
}
.card1 p{
    font-size: 28px;
    height: 400px;
    width: 400px;
}
.card2 p{
    font-size: 25px;
    height: 400px;
    width: 400px;
}
.about_button button{
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 1.2rem;
  text-align: center;
}
.about_button1{
    background-color: blueviolet;
}
.about_button .space{
  padding-right: 5px;
}
.about_card .about_card1{
    height: 150px;
    width: 350px;
}
.about_angle .right{
    margin-left: 290px;
    color: white;
}


/* portfolio */


.port_text{
    text-align: center;
    margin-top: 100px;
}
.port_text p{
    font-size: 12px;
    color: white;
}
.buttons label {
  margin: 5px;
}
.container_2{
    display: flex;
    /* margin-left: 0px; */
    justify-content: center;
    align-items: center;
}
.box {
 height: 200px;
 width: 200px;
/* margin-right: 650px; */

}
.box h2{
  font-size: 20px;
  
}
.box p{
    font-size: 13px;
    
}
.box6{
 width: 500px;
 height: 200px;
 border: 2px solid yellow;
 color: aqua;
 font-size: 30px;
 margin-left: 50px;
}


/* contact us */

.contact_text{
    text-align: center;
    margin-top: -200px;
}
.contact_text h2{
    font-size: 60px;
}
.contact_text p{
    font-size: 15px;
}
.contact_container{
    height: 500px;
    width: 750px;
    background: linear-gradient(grey,white,grey,white);
    border-radius: 10px;
    margin: 20px auto;
}
.one{
    width: 600px;
    padding: 20px 20px;

}
.two{
    width: 600px;
    padding: 20px 20px;
}
.three{
    width: 600px;
    padding: 20px 20px;
}
form button{
    width: 600px;
}
.contact_container p{
    font-size: 15px;
    color: white;
}
}